QTFL19_0928/RE_orarend.dtd

<!ELEMENT orarend (ora)*>
<!ATTLIST orarend 
		egyetem #PCDATA #FIXED "ME">

	<!ELEMENT ora (targy, idopont, helyszin, oktato, szak)>
		<!ATTLIST hallgato
				id ID #REQUIRED
				tipus #PCDATA>

			<!ELEMENT targy (#PCDATA)>
			<!ELEMENT idopont (#PCDATA)>
			<!ELEMENT helyszin (#PCDATA)>
			<!ELEMENT oktato (#PCDATA)>
			<!ELEMENT szak (#PCDATA)>